<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUKdTjDOgW1LE0vJnd-ZIhoJZvsxI7pfgDLg&usqp=CAU" alt="Logo" width="40" height="32" class="d-inline-block align-text-top rounded">
        NewsWarehosue_
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">NewsWarehosue</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/popular">POPULAR</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/politics">POLITICS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/health">HEALTH</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sports">SPORTS</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/entertainment">ENTERTAINMENT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/science">SCIENCE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/technology">TECHNOLOGY</a>
            </li>
            <hr class="nav-hr">
            
            <li class="nav-item">
                <a class="nav-link" href="#">SPECIAL INVESTIGATIONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">VOICES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">PODCASTS</a>
            </li>
  
            <li class="nav-item">
                <a class="nav-link" href="#">VIDEOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">DOCUMENTS</a>
            </li>
            <button class="btn btn-outline-primary my-3">Became a Member</button>
            <li class="nav-item">
                <a href="#" class="nav-link text-center">be up to date with us</a>
            </li>
            <div class="icons d-flex gap-4 mt-4 text-center">
                <i class="fa-brands fa-facebook fs-2"></i>
                <i class="fa-brands fa-twitter fs-2"></i>
                <i class="fa-brands fa-youtube fs-2"></i>
                <i class="fa-brands fa-linkedin fs-2"></i>
                <i class="fa-brands fa-instagram fs-2"></i>
                <i class="fa-solid fa-wifi fs-2"></i>
            </div>

            
           
          </ul>
          
        </div>
      </div>
    </div>
  </nav>