<navbar></navbar>
<div class="container my-5 pt-3">
    <router-outlet></router-outlet>
</div>
<div class="footer bg-light">
    <div class="row">
      <div class="col-md-6">
          <a href="" class="brand my-3">NewsWarehosue_</a>
          <p class="copy">
            <i class="fa-regular fa-circle minik"></i>
            NewsWarehosue . ALL RIGHTS RESERVED
          </p>
      </div>
      <div class="col-md-4 ">
          <div class="footer-links d-flex flex-column footer-links">
            <a href="#" class="p-1">POLITICS</a>
            <a href="#" class="p-1">HEALTH</a>
            <a href="#" class="p-1">SPORTS</a>
            <a href="#" class="p-1">ENTERTAINMENT</a>
            <a href="#" class="p-1">SCIENCE</a>
            <a href="#" class="p-1">TECHNOLOGY</a>
          </div>
      </div>
    </div>
</div>
  